<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roadmap</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-[#FCFCFC] overflow-x-hidden">

    <!-- Background -->
    <div class="fixed inset-0 -z-10 overflow-hidden">

        <div class="absolute -top-52 -left-52 w-[700px] h-[700px] rounded-full bg-[#B9F6CA] opacity-70 blur-[180px]"></div>

        <div class="absolute -bottom-60 -right-60 w-[850px] h-[850px] rounded-full bg-[#8EE8FF] opacity-70 blur-[180px]"></div>

    </div>
    


    <!-- Heading -->
    <section class="py-20">

        <div class="text-center mb-28">
            <audio id="arrowSound" src="image/dragon-studio-mouse-click-sound-376877.mp3"></audio>

<button
    type="button"
    onclick="playSoundAndGo()"
    class="ml-330 cursor-pointer hover:scale-110 transition"
>
    <img
        src="image/icons8-curly-arrow-50.png"
        alt="Arrow"
        class="w-8 h-8"
    >
</button>

<script>
function playSoundAndGo() {
    const sound = document.getElementById("arrowSound");
    sound.play();

    // Wait a little so the sound starts playing
    setTimeout(() => {
        window.location.href = "/roadmap";
    }, 300); // Change to 500 if you want a longer delay
}
</script>

<audio id="bgMusic" autoplay loop playsinline>
    <source src="/image/ample1.mp3" type="audio/mpeg">
</audio>

<button
    id="musicBtn"
    class="fixed bottom-6 right-6 z-50 flex h-14 w-14 items-center justify-center rounded-full bg-black text-white shadow-xl transition hover:scale-110 hover:bg-blue-600"
>
    <i data-lucide="pause"></i>
</button>

<script src="https://unpkg.com/lucide@latest"></script>

<script>
    lucide.createIcons();

    const music = document.getElementById("bgMusic");
    const btn = document.getElementById("musicBtn");

    music.volume = 0.6;

    // Try to autoplay
    music.play().catch(err => {
        console.log("Autoplay blocked:", err);
    });

    btn.addEventListener("click", () => {
        if (music.paused) {
            music.play();
            btn.innerHTML = '<i data-lucide="pause"></i>';
        } else {
            music.pause();
            btn.innerHTML = '<i data-lucide="play"></i>';
        }

        lucide.createIcons();
    });
</script></script>            <h1 class="text-6xl font-black">My projects</h1>
            
    

</body>
</html>